:root {
    --bg-color: #1b1c1d;
    --text-color: #f1f1f1;
    --button-bg: #333;
    --button-text: #f1f1f1;
    --border-color: #333;
    --rule-bg: #444;
    --green: hsl(153deg, 53%, 53%);
    --red: hsl(348deg, 100%, 70%);
}

@font-face {
    font-family: "Exocet";
    src: url("exocet.ttf");
}

html {
    scrollbar-color: rgba(0, 0, 0, .25) rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.diablo-font {
    font-family: "Exocet", sans-serif !important;
}

.bordered {
    overflow: hidden;
    border: 1px solid var(--border-color) !important;
    padding: 0.5rem !important;
}

.sortable-ghost {
    opacity: 0.5;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

body input[type="checkbox"] {
    cursor: pointer;
}

.show-items {
    color: var(--text-color) !important;
}

.form-group-input {
    width: 6ch;
    text-align: center;
}

.form-select {
    width: 100%;
}

.column {
    padding: .5rem !important;
}

.field-label {
    flex-grow: 0 !important;
    margin-inline-end: .5rem;
}

.checkbox {
    cursor: pointer;
    user-select: none;
}

.checkbox-input {
    width: 1rem;
    height: 1rem;
    accent-color: var(--green);
}

.no-scrollbar {
    scrollbar-width: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* Table cell styling */
td, th {
    vertical-align: middle !important;
    text-align: center;
    padding: 0.5rem !important;
}

/* Checkbox and input consistency */
.checkbox-input,
input {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

/* Center checkboxes inside table cells */
td {
    padding: 0.1rem !important;
}

/* Flexbox for centering checkboxes */
.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.input-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

select, input {
    background: linear-gradient(45deg, #101010, transparent);
}

.width-100 {
    width: 100%;
}

.min-width-100 {
    min-width: 100%;
}

.v-center {
    display: flex;
    align-items: center;
}

.white-fill {
    fill: #fff;
}

a:hover svg {
    fill: #009bee; /* Change to your desired hover color */
    transform: scale(1.1); /* Slight scaling effect */
    transition: fill 0.3s ease, transform 0.3s ease;
  }
  
  a svg {
    transition: fill 0.3s ease, transform 0.3s ease; /* Smooth transition for fill and transform */
  }
