:root {
    --bg-color: rgb(20, 22, 26);
    --text-color: #f1f1f1;
    --border-color: hsl(221,14%,24%);
    --green: hsl(153deg, 53%, 53%);
    --red: hsl(348, 100%, 66%);
    --bulma-arrow-color: #e1e1e1 !important;
}

@font-face {
    font-family: "Exocet";
    src: url("exocet.ttf");
}

html {
    scrollbar-color: rgba(0, 0, 0, 0.556) rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.diablo-font {
    font-family: "Exocet", sans-serif !important;
    margin-bottom: 0 !important;
}

input[type="checkbox"], .checkbox {
    cursor: pointer;
    user-select: none;
}

/* Remove number input arrows */
.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-group-input {
    width: 8ch;
    text-align: center;
}

.form-select {
    width: 100%;
}

#rulesTable_wrapper .column:first-child {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.field-label {
    flex-grow: 0 !important;
    margin-inline-end: .5rem;
}

.checkbox-input {
    width: 1.2rem;
    height: 1.2rem;
    accent-color: var(--green);
}

.no-scrollbar {
    scrollbar-width: none;
}

th {
    vertical-align: middle !important;
    text-align: center;
    padding: 0.5rem !important;
}

.checkbox-input, input {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

td {
    vertical-align: middle !important;
    text-align: center;
    padding: 0.1rem !important;
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.input-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.width-100 {
    width: 100%;
}

.min-width-100 {
    min-width: 100px;
}

.big-dropdown-width {
    min-width: 100%;
}

@media screen and (min-width: 768px) {
    .big-dropdown-width {
        min-width: 400px;
    }
}

@media screen and (min-width: 1024px) {
    .big-dropdown-width {
        min-width: 500px;
    }
}

@media screen and (min-width: 1920px) {
    .big-dropdown-width {
        min-width: 700px;
    }
}

.v-center {
    display: flex;
    align-items: center;
}

.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.notification {
    padding: 1rem;
    cursor: pointer;
    margin: 0.5rem !important;
}

.handle {
    cursor: ns-resize;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.has-text-unique {
    color: #d4bc7b !important;
}

.has-text-rare {
    color: #ffff00 !important;
}

.has-text-honorific {
    color: #008300 !important;
}

.delete-rule.is-loading .icon {
    visibility: hidden;
}

.delete-rule.is-loading::after {
    border-color: transparent transparent hsl(var(--bulma-button-h), var(--bulma-button-s), var(--bulma-button-l)) hsl(var(--bulma-button-h), var(--bulma-button-s), var(--bulma-button-l)) !important;
}

.white-fill {
    fill: #fff;
}

.github-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}
  
.contribute-text {
    color: transparent;
    font-weight: bold;
    transition: all 0.3s ease;
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
}

.github-link:hover .contribute-text {
    color: var(--bulma-info);
    max-width: 100px;
    margin-right: 0.5rem;
}

.github-link:hover svg {
    fill: var(--bulma-info);
    transform: scale(1.1);
}

.github-link svg {
    transition: all 0.3s ease;
}

.filter-date {
    font-size: 0.8em;
    opacity: 0.7;
}